*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# YARD artifacts
.yardoc
_yardoc
doc/

# msf-stats artifacts
msf-stats/*.diff
msf-stats/names.txt
msf-stats/summary.txt
msf-stats/blog.html

.DS_Store
*.orig
*.rej
*~

# cve to json artifacts
CVE-*.json

# cve source files
allitems.*
